name: serenity
description: A mental health wellness companion mobile app
publish_to: "none"
version: 1.0.0+1

environment:
  sdk: ">=3.0.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.2
  go_router: ^14.0.0
  provider: ^6.1.0
  url_launcher: ^6.2.0
  shared_preferences: ^2.2.0
  intl: ^0.19.0
  flutter_svg: ^2.0.9

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0

flutter:
  uses-material-design: true

